* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.map {
    position: relative;
    filter: invert(90%) hue-rotate(180deg);
    z-index: 0;
    width: 100%;
    height: calc(100vh - 16px); /* Ajusta según el tamaño de tu header y footer */
}

.containerPin {
    z-index: 1;
    position: absolute;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: transparent;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pin {
    border: none;
    background-color: transparent;
}

.pin1 {
    background-color: transparent;
    position: absolute;
    top: 4px;
    left: 4px; 
    z-index: 2;
}

.pin2 {
    background-color: transparent;
    z-index: 1;
}

.btn {
    border: none;
    display: flex;
    justify-content: center;
    text-align: center;
    user-select: none;

    position: absolute;
    bottom: 8rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    background-color: transparent;
}
.btnPrincipal {
    width: 240px;
    height: 56px;
    background-color: var(--color);
    border-radius: 16px;
    color: var(--textBtn);
    font-weight: 800;
    /*28px*/
    font-size: 24px;
    cursor: pointer;
    font-optical-sizing: auto;
    font-style: normal;
}
.btnPrincipal:hover,
.btnPrincipal:active {
    width: 232px;
    height: 56px;
    background-color: var(--color);
    border-radius: 16px;
    color: var(--textBtn);
    font-weight: 800;
    /*28px*/
    font-size: 24.2px;
    cursor: pointer;
    font-optical-sizing: auto;
    font-style: normal;
}