.position{
    margin-top: -7px;
}

.porfilePosition{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6%;
}

.profile{
  width: 233px;
  height: 233px;
  background-color: var(--black);
  border-radius: 100%;
}

.input-icon {
    position: absolute;
    margin-left: 5.3%;
    margin-top: 5.5%;
    background-color: transparent;
}


.inputPosition {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.inputSpace {
    padding-bottom: 28px;
}

::placeholder {
    color: var(--textInputPress);
}

.input {
    text-align: left;
    background-color: var(--black);
    color: var(--textInputPress);
    font-size: 20px;
    border: none;
    outline: none;
    border-radius: 12px;
    width: 520px;
    height: 70px;
    padding-left: 20px;
    font-weight: 800;
}

.input[type="date"]{
    color: var(--textInputPress);
}

.input[type="date"]::-webkit-calendar-picker-indicator {
    background: none;
}

input[type="email"]:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px var(--black) inset;
    -webkit-text-fill-color: var(--textInput); 
}

input[type="email"]:focus {
    background-color: var(--black); 
    color: var(--textInputPress); 
}

input[type="password"]::placeholder {
    color: var(--textInput);
}

.btnPostion {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btnSpace {
    padding-bottom: 80px;
}

.btnTop {
    padding-top: 38px;
}

.btn {
    border: none;
    display: flex;
    justify-content: center;
    text-align: center;
}

.btnPrincipal {
    width: 260px;
    height: 62px;
    background-color: var(--color);
    border-radius: 18px;
    color: var(--textBtn);
    font-weight: 800;
    /*28px*/
    font-size: 24px;
    cursor: pointer;
    font-optical-sizing: auto;
    font-style: normal;
}

.btnPrincipal:hover,
.btnPrincipal:active {
    width: 256px;
    height: 62px;
    background-color: var(--color);
    border-radius: 18px;
    color: var(--textBtn);
    font-weight: 800;
    /*28px*/
    font-size: 24.2px;
    cursor: pointer;
    font-optical-sizing: auto;
    font-style: normal;
}

.w {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 51%;
}

.text {
    font-size: 18px;
    font-weight: 800;
    font-optical-sizing: auto;
    font-style: normal;
    color: var(--TextP);
}