    <!-- HEADER -->
    <div class="header">
        <img src="" alt="">
        <div class="search_home">
            <img class="search_icon" src="../../../../Assets/Logo/Logo_img.png" alt="">
            <input class="search_section" type="text" id="search_home" placeholder="Buscar">
        </div>
        <div class="navigation">
            <a href="#">Inicio</a>
            <a href="#">Ver reportes</a>
            <a href="#">Ayuda</a>
        </div>
        <div class="hambuguer_menu">
            <img src="../../../../Assets/Logo/hamburguer.png" alt="">
        </div>
    </div>

    <!-- MAIN SECTION -->

    <div class="container">
        <div class="info-section">
            <div class="country_report">
                <h2>País</h2>
                <p>2000</p>
                <p>Reportes de huecos en sus calles</p>
            </div>

            <div class="city_report">
                <h2>Ciudades</h2>
                <p>ciudad 1</p>
                <p><span class="num_city1">Num </span> reportes de huecos en las calles</p>
                <p>ciudad 2</p>
                <p><span class="num_city2">Num </span> reportes de huecos en las calles</p>
            </div>
            <div class="report_btn">
                <button type="submit">Reportar Hueco</button>
            </div>
        </div>
    </div>


