* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.containerInfo {
    width: 422px;
    height: 98%;
    background-color: var(--background);
    position: absolute;
    z-index: 1;
}

.map {
    position: relative;
    filter: invert(90%) hue-rotate(180deg);
    z-index: 0;
    width: 100%;
    height: calc(100vh -  78px); /* Ajusta según el tamaño de tu header y footer */
}
