.containerReports{
    padding: 0 12rem 4rem 12rem;
    width: fit-content;
    margin: 0 auto;
}

.listContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0.05rem 10rem;
}

.Space {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 8%;
    max-width: 500px;
    cursor: pointer;
}

.listSpace {
    display: flex;
    flex-direction: column;
    gap: 46px;
}

.reportSpaceText {
    margin-top: -10%;
}

.color {
    color: var(--color);
}

.colorText {
    color: var(--TextWhite);
}

.red {
    color: var(--red);
}

/* País */
.h2 {
    text-align: left;
    font-size: 30px;
    text-transform: capitalize;
    /* extrabold */
    font-weight: 800;
    margin-bottom: 2rem;
}

/* Ciudad */
.h6 {
    text-align: left;
    font-size: 24px;
    font-weight: 700;
}

/* Num de reportes ciudad */
.p {
    text-align: left;
    font-size: 20px;
    /* regular */
    font-weight: 400;
    letter-spacing: 1px;
}

.i {
    margin-top: 36px;
    margin-left: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    fill: var(--Icons);
    transition: fill 0.3s ease;
}

.Space:hover .icon,
.Space:active .icon {
    fill: var(--color);
}