/* /////////////////// VARIABLES //////////////////// */
:root {
    --background: #15191D;
    --black: #262626;
    --color: #F2C8A2;
    --red: #FF7D69;

    --textInput: #666262;
    --textInputPress: #938C8C;
    --TextP: #6A6868;
    --textBtn: #3B3B3B;
    --TextWhite: #C4C4C4;
    
    --white: #FCFCFC;
    --tonoLigero: #d7dbdd;
}

/*  */
*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: "Red Hat Display", serif;
    background-color: var(--background);
}

/* /////////////////// TEXTS //////////////////// */


/* TITULO */
h1 {
    
    font-optical-sizing: auto;
    text-transform: uppercase;
    font-style: normal;
    
    /*18px*/
    font-size: 1.125rem;
    font-weight: 800;
    color: var(--title);
}

.tittle {
    font-optical-sizing: auto;
    font-style: normal;
    
    /*32px*/
    font-size: 18px;
    font-weight: 800;
    color: var(--color);
}

/* /////////////////// Tags //////////////////// */


.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.colum {
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #A0A0A0;
}

.requisito {
    color: var(--rojo);
    font-size: 18px;
    font-weight: 800;
    display: block;
    margin-top: 0;
    padding-bottom: 1em;
    padding-left: 0.5em;
}

.border-danger {
    color: var(--rojo);
    border: 2px solid var(--rojo); /* Cambia el color a tu preferencia */
}

/* /////////////////// Spaces //////////////////// */
.top20 {
    margin-top: 20px;
}

.top40 {
    margin-top: 40px;
}

.top80 {
    margin-top: 80px;
}

.top120 {
    margin-top: 120px;
}

.top140 {
    margin-top: 140px;
}

input:-webkit-autofill {
    background-color: transparent !important;
    color: inherit !important;
    -webkit-box-shadow: 0 0 0px 1000px #262626 inset !important;
    -webkit-text-fill-color: var(--textInputPress);
    transition: background-color 5000s ease-in-out 0s;
}

/*BREAKPOINTS*/
@media screen and (max-width: 650px) {}