<body class="">

    <div class="">
        <img src="../../../../Assets/Icons/patch-check-fill.svg">
    </div>

    <div>
        <h6 class="">Acepta nuestros <h6 class="">terminos y condiciones</h6> y nuestra <h6 class="">pólitica de
                privacidad</h6> para continuar</h6>
    </div>

    <div class="btnSpace">
        <div class="btn">
            <div class="btn1">
                <button routerLink="/Home" (click)="signUp()" type="submit" class="btn-principal">Aceptar</button>
            </div>
        </div>
        <div class="btn">
            <div class="btn2">
                <button routerLink="/Home" type="submit" class="btn-terciary">Volver</button>
            </div>
        </div>
    </div>

</body>